@import url(../public/assets/fonts/fonts.css);

@tailwind base;
@tailwind components;

@layer base {
    @font-face {
        font-family: 'Gilory';
        font-weight: 200;
        src: url(../public/assets/fonts/gilroy/Gilroy-Thin.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Gilory';
        font-weight: 300;
        src: url(../public/assets/fonts/gilroy/Gilroy-Light.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Gilory';
        font-weight: 400;
        src: url(../public/assets/fonts/gilroy/Gilroy-Regular.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Gilory';
        font-weight: 500;
        src: url(../public/assets/fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Gilory';
        font-weight: 600;
        src: url(../public/assets/fonts/gilroy/Gilroy-SemiBold.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Gilory';
        font-weight: 700;
        src: url(../public/assets/fonts/gilroy/Gilroy-Bold.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Gilory';
        font-weight: 800;
        src: url(../public/assets/fonts/gilroy/Gilroy-ExtraBold.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Gilory';
        font-weight: 900;
        src: url(../public/assets/fonts/gilroy/Gilroy-Black.ttf) format("truetype");
    }
    @font-face {
        font-family: 'strretch sans';
        src: url(../public/assets/fonts/strretch/STRRETCH\ SANS.ttf) format("truetype");
    }
}

@tailwind utilities;
.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #FF6E05;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
    mix-blend-mode: difference;

}

.grow, .grow-small{
  transform: scale(6);
  background: #FF6E05;
  mix-blend-mode: difference;
  border: none;
}
.grow-small{
  transform: scale(2.5);
}